/*  your css code here. If applicable */
#container{
	margin:20px;
	}
#container>p::before{
  color: #f00;
 font-size:20px;
	content:"Before Element";
}
#container>p::after{
  color: #f00;
 font-size:20px;
	content:"After Element";
}
